:root {
    --base-color: #0a2437;
    --background-color: #f3f3f3;
    --border-radius: 10px;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0 6px;
    color: var(--base-color);
    background-color: var(--background-color);
}

a {
    color: black;
}

h1 {
    margin-bottom: 4px;
    margin-top: 0;
}

h2 {
    margin-bottom: 2px;
    margin-top: 0;
}

img {
    display: block;
    width: auto;
    height: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row-contact {
    display: flex;
    justify-content: space-between;
    width: 340px;
    flex-wrap: wrap;
}

.contact {
    margin-right: 8px;
}

@media only screen and (max-width: 445px) {
    .row-contact {
        width: unset;
    }

    .contact {
        margin-bottom: 8px;
    }
}

.info {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

.info-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 18px;
}

.block {
    flex: 1 0 25%;
    margin: 16px;
    padding: 30px;
    border-radius: var(--border-radius);
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

.button {
    margin: 8px;
    cursor: pointer;
    padding: 16px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: var(--base-color);
    color: white;
}

.button:hover {
    background-color: white;
    color: var(--base-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
    width: 300px;
    margin: 0;
}

h4 {
    margin: 4px 0 0;
}

.specs {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    width: 800px;
}

.specs > h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.specs-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
}

.drawings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.draw {
    height: 300px;
    margin: 10px;
}

.certificate {
    width: 390px;
    margin-bottom: 3px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    margin: 30px auto 10px;
    max-width: 920px;
}

.footer {
    margin: 0 10px;
}

@media only screen and (max-width: 800px) {
    .specs {
        width: unset;
    }

    .draw {
        width: 100%;
        height: unset;
    }

    img {
        width: 100%;
        height: auto;
    }
}
